[submodule "pack/unmanaged/opt/autopac"]
	path = pack/unmanaged/opt/autopac
	url = https://github.com/meldavis/autopac
[submodule "pack/unmanaged/start/vim-colorscheme-manager"]
	path = pack/unmanaged/start/vim-colorscheme-manager
	url = https://cbtlsl@github.com/cbtlsl/vim-colorscheme-manager
[submodule "plug/onehalf"]
	path = plug/onehalf
	url = https://github.com/sonph/onehalf
